@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

.stepper {
  @include flex-center;
  gap: 12px;
  &__step {
    @include flex-center;
    gap: 10px;
    &-circle {
      @include flex-center;
      border: 1px solid #7981b2;
      border-radius: 100px;
      padding: 4px 8px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
    }
    &-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    &--active {
      color: #141938;
      .stepper__step-circle {
        background: #4f4fff;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.4px;
      }
      .stepper__step-title {
        color: #141938;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }
  }
}
