.home {
  display: grid;
  padding: 28px 120px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image title"
    "image main";
  grid-template-rows: auto 1fr;

  &__image {
    grid-area: image;
    img {
      border-radius: 24px;
    }
  }

  &__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 80%;
  }

  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    &-form {
      display: flex;
      flex-direction: column;
      gap: 18px;
      .checkbox {
        accent-color: black;
      }
      &-select {
        display: grid;
        grid-template-columns: 40% 60%;
      }
      &-politics {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-check {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 60% 40%;
    grid-template-areas:
      "title image"
      "main main";
    padding: 12px 24px;
    gap: 16px 0;
    img {
      width: 100%;
    }
    &__title {
      width: auto;
      gap: 12px;
      justify-content: center;
    }
    &__main {
      width: auto;
      border-top: 1px solid #ccd1ee;
      padding: 16px 0;
      &-form {
        margin-bottom: 2%;
      }
    }
  }
}
