@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

.footer__container {
  @include flex-between;
  padding: 32px 120px;
  background: $primary-black-color;
  &-info {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
  }
}
