.quotation-page {
  &__plansCove {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-title {
      display: flex;
      flex-direction: column;
    }
    &-coverage {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      padding: 0px 18%;
      margin-top: 2%;
    }
    &-plans {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
  }
  &__summary {
    gap: 28px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .quotation-page {
    &__plansCove {
      &-title {
      }
      &-coverage {
        padding: 0px;
        grid-template-columns: 1fr;
      }
      &-plans {
        padding: 0px;
        grid-template-columns: 1fr;
        padding: 0px 24px;
      }
    }
    &__summary {
    }
  }
}
