.primary-select {
    appearance: none;
    border-color: #5e6488;
    background-image: url("../../assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    border-radius: 8px 0px 0px 8px;
    padding: 16px;
    border-right: 0.5px;
    &:focus {
      border: none;
      border-color: #5e6488;
    }
  }